@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
}
.input-wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.input-wrapper input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-bottom: 10px;
}